<p>orbit-list works!</p>

<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click) = "sort('name')">Name</th>
      <th class="sortable" (click) = "sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor="let satelite of satellites">
    <td >{{satelite.name}}</td>
    <td >{{satelite.type}}</td>
    <td>{{satelite.operational}}</td>
    <td>{{satelite.orbitType}}</td>
    <td>{{satelite.launchDate}}</td>

   </tr> 
</table>
